<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Group Chat</title>

    <link rel="stylesheet" href="css/chat.css" />
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <div class="chat-container">
      <!-- Sidebar -->
      <div class="sidebar">
        <h2>Groups</h2>

        <div class="group active">General Chat</div>

        <div class="group" onclick="chatWithGemini()">Talk With Gemini</div>

        <div class="private-room-section">
          <h3>Private Room</h3>

          <input type="text" id="roomInput" placeholder="Enter email" />

          <button onclick="joinRoom()">Join Room</button>

          <!-- Active Room -->
          <p id="active-room">No room joined</p>
        </div>
      </div>

      <!-- Chat Section -->
      <div class="chat-section">
        <!-- Header -->
        <div class="chat-header">
          <h2 id="chat-title">General Chat</h2>
          <p id="active-users">3 users online</p>
          <!-- <p id="online-status" ></p> -->
        </div>

        <!-- Messages -->
        <div class="messages-container"></div>

        <div class="smart-replies" id="smartReplies"></div>

        <!-- Input Area -->
        <form class="message-form" onsubmit="sendMessage(event)">
          <!-- AI Suggestions -->
          <div class="ai-suggestions" id="aiSuggestions"></div>

          <label for="mediaInput" class="media-btn">📎</label>

          <input type="file" id="mediaInput" accept="image/*,video/*" />

          <input
            type="text"
            id="message"
            name="message"
            placeholder="Type a message..."
            required
          />

          <button type="submit">Send</button>
        </form>
      </div>
    </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.11.0/axios.min.js"
      referrerpolicy="no-referrer"
    ></script>
    <script src="js/chat.js"></script>
  </body>
</html>
