<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/login.css">
     
</head>
<body>
   <div class="container">
<h2>Login </h2>
    <form onsubmit="handleLogin(event)">

        <label for="phone-number">Phone Number:</label>
        <input type="number" id="phone-number" name="phone-number">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
    </form>

    <div class="link">
        <p>  For first time user Click here! <a href="./signup.html">Signup</a></p>
    </div>
   </div> 
    
</body>
</html>