*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height:100vh;
    background-color:#f1f5f9;
}

.chat-container{
    display:flex;
    height:100vh;
}

/* Sidebar */

.sidebar{
    width:250px;
    background-color:#1e293b;
    color:white;
    padding:20px;
}

.sidebar h2{
    margin-bottom:20px;
}

.group{
    padding:12px;
    background-color:#334155;
    margin-bottom:10px;
    border-radius:8px;
    cursor:pointer;
}

.group.active{
    background-color:#2563eb;
}

/* Chat Section */

.chat-section{
    flex:1;
    display:flex;
    flex-direction:column;
}

/* Header */

.chat-header{
    padding:15px 20px;
    background-color:white;
    border-bottom:1px solid #ddd;
}

.chat-header p{
    color:gray;
    margin-top:5px;
}

/* Messages */

.messages-container{
    flex:1;
    padding:20px;
    overflow-y:auto;
    display:flex;
    flex-direction:column;
    gap:15px;
}

/* Message Box */

.message{
    max-width:300px;
    padding:12px;
    border-radius:10px;
}

.message p{
    margin-bottom:5px;
}

.message span{
    font-size:12px;
    color:gray;
}

/* Sent */

.sent{
    align-self:flex-end;
    background-color:#2563eb;
    color:white;
}
.sent span{
    color:white;
}

/* Received */

.received{
    align-self:flex-start;
    background-color:white;
    border:1px solid #ddd;
}

/* Input Area */

.message-form{
    display:flex;
    padding:15px;
    background-color:white;
    border-top:1px solid #ddd;
}

.message-form input{
    flex:1;
    padding:12px;
    border:1px solid #ccc;
    border-radius:8px;
    outline:none;
}

.message-form button{
    margin-left:10px;
    padding:12px 20px;
    border:none;
    background-color:#2563eb;
    color:white;
    border-radius:8px;
    cursor:pointer;
}
/* ========================= */
/* PRIVATE ROOM SECTION */
/* ========================= */

.private-room-section{
    margin-top:40px;
    padding-top:20px;
    border-top:1px solid rgba(255,255,255,0.2);
}

.private-room-section h3{
    margin-bottom:15px;
    font-size:18px;
}

.private-room-section input{
    width:100%;
    padding:10px;
    border:none;
    border-radius:8px;
    outline:none;
    margin-bottom:10px;
}

.private-room-section button{
    width:100%;
    padding:10px;
    border:none;
    border-radius:8px;
    background-color:#2563eb;
    color:white;
    cursor:pointer;
    font-weight:bold;
}

.private-room-section button:hover{
    background-color:#1d4ed8;
}

#active-room{
    margin-top:12px;
    font-size:14px;
    color:#cbd5e1;
    word-break:break-word;
}